{% extends "base.html" %}

{% block content %}
<div class="text">
    <h5>
        Предлагаем сыграть в нашу игру под названием «Угадай город». Суть игры проста, вы пишите город, который совпадает с условиями:
    </h5>
    <ul>
        <li>Первая буква вашего названного города должна совпадать с конечной
            (если конечно он не заканчивается на й, или ы, или ь), который написала программа.</li>
        <li>Вы не можете писать города, которые уже раннее были назаваны.</li>
        <li>Кроме городов вы ничего не можете писать</li>
    </ul>
</div>
<div class="buttons">
    <a href="/game_town">
    <button class="button2">Начать игру</button>
    </a>
    <img class="img" src="/static/img/townn.jpg" alt="здесь должна была быть картинка, но не нашлась">
</div>
{% endblock %}